#Test{
    background-color: rgba(154, 177, 211, 0.167);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 72px;
    color: rgb(4, 1, 0);
  
}
p{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 130px;
    color: rgb(4, 1, 0);
}



body{
    text-align: center;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
